footer {
  padding: 20px 0 35px;
  border-top: 1px solid #DFDFDF;
}
.footer-list .footer-list-item {
   width: 100%;
   margin-top: 30px;
}
.footer-list .footer-list-item:first-child {
   margin-top: 0;
}
.footer-item p {
  line-height: 1;
  padding-bottom: 20px;
}
.footer-item li {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 14px;
  position: relative;
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .footer-list .footer-list-item {
    width: 20%;
  }
  .footer-item {
    padding-right: 40px;
  }
  .footer-item:last-child {
    padding-right: 0;
  }
}
