nav {
  background: rgba(255,255,255,.2);
  padding: 15px 0;
  position: absolute;
  width: 100%;
  z-index: 200;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  color: rgba(255,255,255,.8);
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  transition: color .2s;
}
nav ul li:hover a {
  color: #ffffff;
}
