{{ partial "header.html" . }}
	<main>
		<article class="single">
			<div class="u-gradient--redToRed main-section">
				<div class="container">
					<div class="paddingContainer">
						<h1 class="u-color--white u-fontWeight--bold u-fontSize--header u-textAlign--left">
							{{ .Title }}
						</h1>
						<p class="u-color--white u-fontSize--large u-lineHeight--normal">
							{{ .Description }}
							<span class="u-fontSize--small">(Last Updated {{ .Date.Format "02.01.2006 15:04" }})</span>
						</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="paddingContainer">
					<div class="content">
						{{ .Content }}
					</div>
				</div>
			</div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
{{ partial "footer.html" . }}