{{ partial "header.html" . }}
	<main>
		<article class="single">
			<div class="u-gradient--redToRed main-section">
				<div class="container">
					<div class="paddingContainer">
						<h1 class="u-color--white u-fontWeight--bold u-fontSize--header u-textAlign--left">
							{{ .Title }}
						</h1>
						<p class="u-color--white u-fontSize--large u-lineHeight--normal">
							{{ .Description }}
						</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="paddingContainer">
					<div class="content">
						{{ .Content }}
					</div>
				</div>
				<div class="sidebar u-marginLeft--more u-marginTop--more">
					<div class="u-marginTop--more u-marginBottom--more">
						<h3 class="u-fontWeight--medium u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Similar guides</h3>
						<ul>
							<li class="u-paddingBottom--normal u-fontSize--normal">
								<a href="" class="u-color--curiousBlue ">Test Link</a>
							</li>
							<li class="u-paddingBottom--normal u-fontSize--normal">
								<a href="" class="u-color--curiousBlue ">Test Link</a>
							</li>
							<li class="u-paddingBottom--normal u-fontSize--normal">
								<a href="" class="u-color--curiousBlue ">Test Link</a>
							</li>
						</ul>
					</div>
					<div>
						<h3 class="u-fontWeight--medium u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Tags</h3>
						<ul id="tags">
							{{ if .Params.tags }}
								{{ range .Params.tags }}
									<li class="u-display--inlineBlock">
										<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="u-display--inlineBlock">{{ . }}</a>
									</li>
								{{ end }}
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
{{ partial "footer.html" . }}