.icon.u-guidesIcon {
  background-position: 0 0;
  width: 46px;
  height: 43px;
}
.icon.u-documentationIcon {
  background-position: 0 -45px;
  width: 35px;
  height: 42px;
}
.icon.u-apiReferenceIcon {
  background-position: 0 -89px;
  width: 42px;
  height: 49px;
}
.icon.u-contactIcon {
  background-position: 0 -140px;
  width: 46px;
  height: 48px;
}

.icon.u-starterWings {
  background-position: 0 -256px;
  width: 200px;
  height: 61px;
}
.icon.u-intermediateWings {
  background-position: 0 -319px;
  width: 211px;
  height: 61px;
}
.icon.u-advancedWings {
  background-position: 0 -382px;
  width: 211px;
  height: 78px;
}
