.single .main-section {
    min-height: 220px;
    box-sizing: border-box;
}

.single .main-section h1 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.single .main-section .container {
    display: block;
}

.single .container {
    max-width: 960px;
    display: flex;
}

.sidebar {
    max-width: 180px;
    padding: 50px 0;
    margin-left: 30px;
}

#tags li {
    display: inline-block;
}

#tags li a {
    padding: 5px 10px;
    display: inline-block;
    background: #F5F8FC;
    border: solid 1px #979797;
    border-radius: 2px;
    margin: 4px 2px;
    font-size: 10px;
    color: #979797;
}

.content {
    padding: 50px 0;
    max-width: 750px;
}

.content h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.content h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
}

.content p {
    font-size: 14px;
    color: #9B9B9B;
    line-height: 22px;
    margin: 20px 0;
}

.content a {
    color: #2A98CB;
    font-weight: 500;
}
.content a:hover {
    text-decoration: underline;
}

.content pre {
    padding: 20px;
    margin: 40px 0;
    background-color: #f9f2f4;
    overflow: scroll;
    border-radius: 6px;
    border: 1px solid #C4C7CA;
}

.content table {
    border-radius: 6px;
    border-collapse: initial;
    border: solid 1px #C4C7CA;
    margin: 40px 0;
    overflow: hidden;
}

.content table thead {
    background: #F5F8FC;
    text-align: left;
}

.content table thead th {
    font-weight: 500;
    border-bottom: solid 1px #C4C7CA;
}

.content table td {
    color: #9B9B9B;
    border-bottom: solid 1px #C4C7CA;
}

.content tbody tr:last-child td {
    border: 0;
}

.content table th,
.content table td {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 22px;
}

.content .page-notes {
    padding: 15px 20px;
    background: #F7F7F7;
    border: 1px solid #C4C7CA;
    color: #9B9B9B;
    font-size: 14px;
    margin: 40px 0;
    font-weight: 500;
    border-radius: 6px;
}

.content .page-notes h3 {
    font-size: 18px;
    color: #323232;
    margin: 0 0 6px;
}

.content ul,
.content ol {
    padding-left: 20px;
}

.content ul {
    list-style-type: disc;
}

.content ol {
    list-style-type: decimal;
}

.content ul li ,
.content ol li {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
    color: #9B9B9B;
}

<<<<<<< HEAD
.content .note.admonition {
    background-color: #2A98CB;
    padding: 12px 20px;
    border-radius: 6px;
}
.content .note.admonition p {
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}
.content .note.admonition p.admonition-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 4px;
    padding-left: 22px;
    position: relative;
}
.content .note.admonition p.admonition-title::before {
    background-image: url("../../images/main_spritesheet.svg");
    background-repeat: no-repeat;
    background-size: initial;
    display: inline-block;
    background-position: -70px -74px;
    width: 13px;
    height: 20px;
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
}
=======


>>>>>>> b8aac45cefe68e1aea8b13758bc28d8574fa3fdd
