	<footer>
		<div class="container">
			<div class="footer-items-wrapper">
        <div class="footer-list flex1 paddingContainer">
					{{ partial "footer-items.html" . }}
        </div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
	<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/autocomplete-search.js"></script>
	<script src="{{ .Site.BaseURL }}js/instantsearch-search.js"></script>
</body>
</html>