	<footer>
		<div class="container">
			<div class="footer-items-wrapper">
        <div class="footer-list flex1 paddingContainer">
					{{ partial "footer-items.html" . }}
        </div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
	<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
	<script>

		function toggleMenuClass() {
			this.classList.toggle("open");
			document.getElementById("headerLinks").classList.toggle("show");
		}
		const toggleMenu = document.getElementById("toggleNav");
		if (toggleMenu) {
			toggleMenu.addEventListener("click", toggleMenuClass);
		};


		const results = document.getElementById("instantSearchResults");
		const searchBox = document.getElementById("search-box");
		
		const client = algoliasearch('5PHVQPX4AR', '92575152510e5cdaf7a0df17c446d879');
		const otherIndex = client.initIndex('help_center_other');
		const docsIndex = client.initIndex('help_center_docs');

		// Autocomplete search bar
		autocomplete('#search-box', { hint: false, templates: {
			dropdownMenu:
				"<div class='aa-dataset-other'></div>" +
				"<div class='aa-dataset-docs'></div>"
		}}, [
			{
				source: autocomplete.sources.hits(docsIndex, { hitsPerPage: 5 }),
				displayKey: 'title',
				name: 'docs',
				templates: {
					header: '<h2 class="aa-header">Docs</h2>',
					suggestion: function(suggestion) {
						const hasDescription = (suggestion._highlightResult).hasOwnProperty("description");

						return '<h3 class="aa-suggestion-header">' +
							suggestion._highlightResult.title.value + '</h3>' +
							'<p class="aa-suggestion-description">' + suggestion._highlightResult.description.value + '</p>' +
							'<span class="icon u-documentationIcon"></span>'
					}
				},
				empty: "<div class='aa-empty'>No matching files</div>"
			},
			{
				source: autocomplete.sources.hits(otherIndex, { hitsPerPage: 5 }),
				displayKey: 'title',
				name: 'other',
				templates: {
					header: '<h2 class="aa-header">Other</h2>',
					suggestion: function(suggestion) {
						const hasDescription = (suggestion._highlightResult).hasOwnProperty("description");

						return '<h3 class="aa-suggestion-header">' +
							suggestion._highlightResult.title.value + '</h3>' +
							(hasDescription ? '<p class="aa-suggestion-description">' + suggestion._highlightResult.description.value + '</p>' : '<span class="empty-space"></span>') 
					}
				},
				empty: "<div class='aa-empty'>No matching files</div>"
			}
		]).on('autocomplete:selected', function(e, suggestion, dataset) {
			// Fix for weird bug that places <em> tags in uri
			window.location = suggestion._highlightResult.uri.value.replace(/<\/?[^>]+(>|$)/g, "");
		});

  	</script>
</body>
</html>