	<footer>
		<div class="container">
			<div class="footer-items-wrapper">
        <div class="footer-list flex1 paddingContainer">
					{{ partial "footer-items.html" . }}
        </div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
	<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/autocomplete-search.js"></script>
	<script src="{{ .Site.BaseURL }}js/prism.js"></script>
	<script>
		hljs.initHighlightingOnLoad();
		function toggleMenuClass() {
			this.classList.toggle("open");
			document.getElementById("headerLinks").classList.toggle("show");
		}
		const toggleMenu = document.getElementById("toggleNav");
		if (toggleMenu) {
			toggleMenu.addEventListener("click", toggleMenuClass);
		};
	</script>
</body>
</html>